/* Importando Fontes */

/* Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Fraunces */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');



/* Definindo variáveis de cores e Tipografia */
:root {

    /* Primary */
    --Red-400: hsl(7, 99%, 70%);
    --Yellow-500: hsl(51, 100%, 49%);
    --Green-800: hsl(167, 40%, 24%);
    /* Graphic design text*/
    --Blue-800: hsl(198, 62%, 26%);
    /* photography text */
    --Green-500: hsl(167, 34%, 41%);
    /* footer */

    /* Neutral */
    --Grey-950: hsl(212, 27%, 19%);
    --Grey-600: hsl(213, 9%, 39%);
    --Grey-550: hsl(232, 10%, 55%);
    --Grey-400: hsl(210, 4%, 67%);
    --White: hsl(0, 100%, 100%);


    /* Typography */

    /* Body Copy */
    --Body-size: 16px;


    /* Font Family*/
    --Barlow: 'Barlow';
    --Fraunces: 'Fraunces';

    /* Font Weight */
    --Barlow-weight-600: 600;
    --Fraunces-weight-700: 700;
    --Fraunces-weight-900: 900;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    
}


body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 375px;
    min-height: 540px;
    gap: 55px;
    background-image: url(images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

h1,
h2 {
    font-family: var(--Fraunces);
    font-weight: var(--Fraunces-weight-900);
    color: var(--Blue-800);
}

p {
    font-size: var(--Body-size);
    font-family: var(--Barlow);
    font-weight: var(--Barlow-weight-600);
    color: var(--Grey-600);
    line-height: 1.5rem;
}

.header {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: var(--Fraunces);
    font-weight: var(--Fraunces-weight-900);
    color: var(--White);
    font-size: 45px;
    text-align: center;
    letter-spacing: 5px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
}

.transform-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.transform-section picture img {
    max-width: 375px;
    object-fit: cover;
}

.transform-section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: inherit;
    max-width: 375px;
    height: inherit;
    padding-inline: 1rem;
    padding-block: 2rem;
    gap: 30px;
    margin-bottom: 40px;
}

.transform-section-info h1 {
    font-family: var(--Fraunces);
    color: var(--Grey-950);
}


.transform-section-info .link-container {
    display: flex;
    justify-content: center;
    width: 100%;
}


.transform-section-info .link-container a {
    font-family: var(--Fraunces);
    font-weight: var(--Fraunces-weight-900);
    color: var(--Grey-950);
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 4px;
    width: max-content;
    position: relative;
    z-index: 1;
}

.transform-section-info .link-container a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 8px;

    background-color: var(--Yellow-500);
    opacity: 30%;
    border-radius: 4px;
    z-index: -1;
}



/* STAND-OUT SECTION =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* Repetir os mesmos estilos para a section de Stand-Out */

.standout-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.standout-section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: inherit;
    max-width: 375px;
    height: inherit;
    padding-inline: 2rem;
    padding-block: 2rem;
    gap: 30px;
    margin-bottom: 40px;
}

.standout-section-info h1 {

    color: var(--Grey-950);
}

.standout-section-info p {
    font-size: var(--Body-size);
    font-family: var(--Barlow);
    font-weight: var(--Barlow-weight-600);
    color: var(--Grey-550);
    line-height: 1.5rem;
}

.standout-section-info .link-container {
    display: flex;
    justify-content: center;
    width: 100%;
}


.standout-section-info .link-container a {
    font-family: var(--Fraunces);
    font-weight: var(--Fraunces-weight-900);
    color: var(--Grey-950);
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0 4px;
    width: max-content;
    position: relative;
    z-index: 1;
}

.standout-section-info .link-container a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 8px;

    background-color: var(--Red-400);
    opacity: 30%;
    border-radius: 4px;
    z-index: -1;
}

.standout-section picture img {
    max-width: 375px;
    object-fit: cover;
}

/* GRAPHIC DESIGN SECTION */

.graphic-design-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    max-width: 375px;
    min-height: 540px;
    gap: 55px;

    background-image: url(images/mobile/image-graphic-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graphic-design-section-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    width: inherit;
    max-width: 375px;
    height: inherit;
    padding-inline: 1rem;
    padding-block: 1rem;
    margin-bottom: 40px;

    gap: 20px;
}

.graphic-design-section-info h1 {
    color: var(--Green-800);
}

.graphic-design-section-info p {
    color: var(--Green-800);
    line-height: 1.5rem;
}

/* PHOTOGRAPHY SECTION */

.photography-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    max-width: 375px;
    min-height: 540px;
    gap: 55px;

    background-image: url(images/mobile/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photography-section-info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    width: inherit;
    max-width: 375px;
    height: inherit;
    padding: 1rem;
    margin-bottom: 40px;

    gap: 20px;
}

.photography-section-info h1 {
    color: var(--Blue-800);
}

.photography-section-info p {
    color: var(--Blue-800);
    line-height: 1.5rem;
}

/* CLIENTS TESTIMONIALS SECTION */

.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    gap: 50px;
    margin-bottom: 40px;
}

.testimonial-section h1 {
    font-size: var(--Body-size);
    letter-spacing: 4px;
    color: var(--Grey-400);
}


.testimonial-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

}

.testimonial-div img {
    display: flex;
    width: 70px;
    height: auto;
    border-radius: 100%;

}

.carreer-and-name-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.carreer-and-name-info h2 {
    font-size: calc(var(--Body-size) + 2px);
    color: var(--Grey-950);
}

.carreer-and-name-info p {
    font-size: calc(var(--Body-size) - 2px);
    color: var(--Grey-400);
}

/* FINAL IMAGES GRID */

.images-grid {
    display: grid;
    max-width: 375px;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    margin: 0 auto;
}

.image-div img {
    width: 100%;
    height: auto;
    display: block;
}


/*  FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 375px;
    background-color: var(--Green-500);
    filter: brightness(150%) saturate(70%);
    padding: 3rem 1rem;
    gap: 2rem;
}


.footer-logo {
    display: inline-block;
    width: 170px;
    height: 33px;


    background-color: var(--Green-800);
    filter: brightness(90%) saturate(150%);

    -webkit-mask-image: url("images/logo.svg");
    mask-image: url("images/logo.svg");

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;
}

.page-links {
    color: var(--Green-800);
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}

.page-links a {
    text-decoration: none;
    font-size: var(--Body-size);
    color: var(--Green-800);
    font-family: var(--Barlow);
    font-weight: var(--Barlow-weight-600);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 3rem;
}

.social-links img {
    filter: brightness(65%) saturate(150%);
}

.desktop-nav {
    display: none;
}

/* DESKTOP RESPONSIVITY */

@media (min-width: 768px) {

    .hamburger-icon {
        display: none;
    }

    .desktop-nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .desktop-nav a {
        text-decoration: none;
        color: var(--White);
        font-family: var(--Barlow);
        font-weight: var(--Barlow-weight-600);
    }

    .desktop-nav .contact-button {
        margin-left: 1rem;
        text-decoration: none;
        color: var(--Grey-950);
        font-family: var(--Fraunces);
        font-weight: var(--Fraunces-weight-700);
        background-color: var(--White);
        padding: 1rem;
        padding-inline: 1.5rem;

        border-radius: 2rem;
    }

    header {
        max-width: none;
        min-height: 100vh;
        gap: 11rem;
        padding-inline: 1rem;
        background-image: url(images/desktop/image-header.jpg);
        background-position: bottom center;
    }

    header h1 {
        font-size: 65px;
    }

    main {
        max-width: 100%;
    }
    
    .transform-section, 
    .standout-section {
        display: flex;
        width: 100%;
        align-items: center;
    }


    .transform-section {
        flex-direction: row-reverse;
    }

    .standout-section {
        flex-direction: row;
    }

    .transform-section picture,
    .standout-section picture {
        width: 50%;
        display: block;
    }


    .transform-section picture img, .standout-section picture img {
        max-width: none;
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


    .transform-section-info, .standout-section-info {
        width: 50%;
        height: 100%;
        max-width: none;
        margin: 0;           
        padding: 4rem 10%;   
        text-align: left;
        align-items: flex-start;
        justify-content: center;
        gap: 3rem;
    }

    .transform-section-info h1,
    .standout-section-info h1 {
        font-size: 50px;
        color: var(--Grey-950);
    }

    .transform-section-info p,
    .standout-section-info p {
        line-height: 2rem;
        color: var(--Grey-550);
        font-size: calc(var(--Body-size) + 2px);
    }

    .transform-section-info .link-container, 
    .standout-section-info .link-container {
        justify-content: start; 
    }


    .graphic-and-photography-sections-container {
        display: flex;
        width: 100%;
    }

    .graphic-design-section,
    .photography-section {
        max-width: none;
        width: 50%;
        aspect-ratio: 720 / 600;
        background-size: cover;
        background-position: top center;

    }

    .graphic-design-section{
        background-image: url(images/desktop/image-graphic-design.jpg);
    }

    .photography-section{
        background-image: url(images/desktop/image-photography.jpg);
    }


    .graphic-design-section-info,
    .photography-section-info {
        max-width: 450px;
        gap: 2rem;
        padding-bottom: 5rem;
    }


    .graphic-design-section-info h1,
    .photography-section-info h1 {
        font-size: calc(var(--Body-size) + 24px);
    }

    .graphic-design-section-info p,
    .photography-section-info p {
        font-size: calc(var(--Body-size) + 3px);
        line-height: 2rem;
    }

    .graphic-design-section-info p {
        color: var(--Green-500);
    }

}
